@import "../../../Globals.scss";

.editor-color-block {
    display: inline-block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    text-align: left;
    .greater-color {
        height: 15%;
        float: middle;
        text-align: center;
        font-size: 3rem;
        line-height: 100%;
        text-shadow: 0 0 scale(6) $color-button-dark;
    }
    .current-color {
        height: 70%;
    }
    .lesser-color {
        height: 15%;
        float: middle;
        text-align: center;
        font-size: 4rem;
        line-height: 100%;
        text-shadow: 0 0 scale(6) $color-button-dark;
    }
  }