@import "../../Variables.scss";

.palette-editor-interface {
  position: absolute;
  display: grid;
  gap: scale(10);
  bottom: 0;
  width: scale(1350);
  height: scale(600);
  padding: scale(10);
  background-color: $color-tertiary;
  border-radius: scale(15);
  box-shadow: 0 0 scale(15) 0 #a1a1a1;
  .palette-components-wrapper {
    width: scale(1160);
    display: grid;
    gap: scale(10);
  }
  &.dark {
    background-color: $color-tertiary-dark;
    box-shadow: 0 0 scale(15) 0 #161616;
  }
  z-index: 1;
}

