@import "../../../Variables.scss";

.editor-settings {
  display: grid;
  grid-template-columns: 7fr 1fr 2fr;
  width: scale(1180);
  height: scale(45);
  gap: scale(10);
  .editor-controls {
    padding: scale(10);
    background-color: $color-secondary;
    border-radius: $ui-block-radius;
    box-shadow: $ui-block-shadow-light;
    &.dark {
      background-color: $color-secondary-dark;
      box-shadow: $ui-block-shadow-dark;
    }
    .input-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: scale(15);
    }
  }
  .increment-settings {
    .input-container {
      grid-template-columns: 1fr 1fr 1fr 3fr;
    }
  }
}

.editor-button {
  line-height: 0;
  font-size: 0.8rem;

  &.longest {
    width: scale(100);
  }
  &.longer {
    width: scale(80);
  }
  &.shorter {
    width: scale(50);
  }
  &.active {
    height: scale(27);
  }
}
