@import "../../../Variables.scss";

.current-colors {
    text-align: center;
    display: inline-block;
    grid-column: 3;
    height: scale(595);
    width: scale(290);
    padding: 0 scale(5) scale(5);
    .colors-container {
      border-radius: scale(10);
      height: scale(440);
      overflow: hidden;
      margin: scale(0) scale(10)
    }
    .control-container {
      margin-top: scale(15);
      &.mode-selector-container {
        margin-bottom: scale(10);
        margin-top: scale(10);
        .color-mode {
          line-height: 0;
          margin: 0 scale(15);
          padding: scale(3);
          width: scale(50);
          font-size: 0.8rem;
        }
      } 
    }
  }

  