@import "../../../Globals.scss";

.current-colors {
    text-align: center;
    display: inline-block;
    grid-column: 3;
    width: $ui-block-width;
    height: scale(560);
    padding: scale(20);
    .colors-container {
      border-radius: scale(10);
      height: scale(460);
      overflow: hidden;
    }
    .control-container {
      margin-top: scale(20);
    }
  }

  