@import "../../../Globals.scss";
@import "../../../Variables.scss";

.controls {
  grid-column: 1;
  grid-row: 1;
  .controls-wrapper {
    display: grid;
    grid-gap: scale(12);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: scale(14)
  }
}

.control-container {
  text-align: center;
  font-size: $secondary-font-size;
  font-weight: $secondary-font-weight;
  font-family: $font-family;
  margin: scale(5);
  height: scale(28);
  .button {
    margin: 0 scale(10);
  }
  
}


