@import "../../Globals.scss";
@import "../../Variables.scss";

.palette {
  grid-column: 4;
  height: 100%;
  width: scale(110);
  background-color: $color-secondary;
  border-radius: $ui-block-radius;
  box-shadow: 0 0 scale(15) 0 #a1a1a1;
  font-weight: bold;
  &.dark {
    background-color: $color-secondary-dark;
    box-shadow: 0 0 scale(15) 0 #171717;
  }
  .palettes-button {
    font-size: 1.5rem;
    line-height: 0;
    width: scale(40);
    margin: scale(10) scale(5) scale(5);
  }
  .palette-block {
    position: relative;
    height: auto;
    width: scale(100);
    margin: scale(5);
    border-radius: $button-radius;
    overflow: hidden;
    .block-color {
      width: 100%;
    }
    .icon-overlay {
      position: absolute;
      left: 0;
      top: 0;
      height: scale(90);
      width: scale(90);
      background-image: url("../../img/delete-icon.png");
      background-size: 100%;
      display: none;
    }
    &.delete-mode {
      cursor: pointer;
      border: solid scale(5) $color-button;
      height: scale(90);
      width: scale(90);
      .icon-overlay {
        display: block;
      }
      &.dark {
        border: solid scale(5) #818181;
      }
    }
  }
}
