@import "../../Globals.scss";

.controls {
  display: inline-block;
  grid-column: 1;
  width: 300px;
  
}

.presets-grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-top: 15px;
  .preset {
    margin: 5px;
    height: 140px;
    width: 140px;
  }
}

.control-container {
  text-align: center;
  font-size: $secondary-font-size;
  font-weight: $secondary-font-weight;
  font-family: $font-family;
  margin: 5px;
  .button {
    margin: 0 20px;
  }
  &.slider-container {

    margin: 20px 5px 0 ;
  }
  .slider {
    width: 100%;
    background-color: $color-secondary;
    &.dark {
      background-color: $color-secondary-dark;
    }
  }
}

.slider-label {
  text-align: left;
  margin-bottom: 10px;
}
