@import "../../../Variables.scss";

.current-palette {
  position: relative;
  text-align: left;
  height: scale(515);
  padding: scale(15);
  background-color: $color-secondary;
  border-radius: $ui-block-radius;
  box-shadow: $ui-block-shadow-light;
  &.dark {
    background-color: $color-secondary-dark;
    box-shadow: $ui-block-shadow-dark;
  }
  
  .editor-color-blocks-wrapper {
    border-radius: $ui-block-radius;
    height: 100%;
    overflow: hidden;
    background-color: $color-button;
    &.dark {
      background-color:$color-button-dark;
    }
  }
}

.editor-color-block {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  text-align: left;
  user-select: none;
  .label {
    font-weight: 400;
    transform: rotate(-90deg);
    position: absolute;
    bottom: scale(175);
    left: scale(-15);
    white-space: nowrap;
    width: scale(100);
    height: scale(25);
    margin: 0;
    line-height: scale(15);
  }
  &.master-block {
    width: scale(60);
    background-color: $color-button;
    color: $secondary-font-color-dark;
    text-align: center;
    &.dark {
      background-color:  $color-button-dark;
      color: #131313;
    }
    &.inactive {
      display: none;
    }
  }
  .greater-color {
    height: 15%;
    float: middle;
    text-align: center;
    font-size: 3rem;
    line-height: 100%;
    &.master {
      text-shadow: none;
    }
  }
  .current-color {
    height: 70%;
    position: relative;
    .color-label {
      bottom: scale(50);
      left: scale(-25);
    }
    .copy-prompt {
      text-align: center;
      width: 100%;
      margin: scale(15) 0;
      font-size: 1.2rem;
      display: none;
    }
    &.master {
      cursor: default;
    }
    &:hover {
      .copy-prompt {
      display: inline-block
      }
      &:active {
        filter: invert(0.3);
      }
    }
    
  }
  .lesser-color {
    height: 15%;
    float: middle;
    text-align: center;
    font-size: 4rem;
    line-height: 100%;
    &.master {
      text-shadow: none;
    }
  }
  &:nth-last-child(2){
    border-top-right-radius: $ui-block-radius;
    border-bottom-right-radius: $ui-block-radius;
    overflow: hidden;
  }
}
