
@import "../../Globals.scss";

.palette {
    text-align: center;
    display: inline-block;
    grid-column: 3;
    width: 300px;
    height: 500px;
    .colors-container {
      height: 400px;
      border-radius: 10px;
      overflow: hidden;
      
    }
    .control-container {
      margin-top: 20px;
    }
  }

  