@import "../../Globals.scss";
@import "../../Variables.scss";

.palette-tracker {
  grid-column: 4;
  height: 100%;
  width: scale(160);
  background-color: $color-secondary;
  border-radius: $ui-block-radius;
  box-shadow: 0 0 scale(15) 0 #a1a1a1;
  font-weight: bold;
  &.dark {
    background-color: $color-secondary-dark;
    box-shadow: 0 0 scale(15) 0 #171717;
  }
  .palettes-button {
    line-height: 0;
    width: scale(65);
    margin: scale(10) scale(5) scale(5);
    font-size: 0.8rem;
    &.active {
        margin-top: scale(9);
    }
  }
  .palette-block {
    position: relative;
    height: scale(100);
    width: scale(130);
    margin: scale(10) scale(15);
    border-radius: $button-radius;
    overflow: hidden;
    text-align: left;
    .block-color {
      display: inline-block;
      height: 100%;
    }
    .icon-overlay {
      position: absolute;
      left: 0;
      top: 0;
      height: scale(98);
      width: scale(130);
      background-image: url("../../img/delete-icon.png");
      background-size: 100%;
      background-repeat: no-repeat;
      display: none;
    }
    &.editor-mode {
      cursor: pointer;
    }
    &.active-palette {
      border: solid scale(5) $color-button;
      border-radius: scale(10);
      height: scale(97);
      margin: scale(5) scale(10);
      &.dark {
        border: solid scale(5) #818181;
      }
    }
    &.delete-mode {
      cursor: pointer;
      border: solid scale(5) $color-button;
      border-radius: scale(10);
      height: scale(97);
      margin: scale(5) scale(10);
      .icon-overlay {
        display: block;
      }
      &.dark {
        border: solid scale(5) #818181;
      }
    }
  }
}
