
@import "../../Globals.scss";

.picker-palette {
    text-align: center;
    display: inline-block;
    grid-column: 3;
    width: $ui-block-width;
    .colors-container {
      height: scale(400);
      border-radius: scale(10);
      overflow: hidden;
      
    }
    .control-container {
      margin-top: scale(20);
    }
  }

  