
@import "../../Globals.scss";

.picker-palette {
    text-align: center;
    display: inline-block;
    grid-column: 3;
    width: $ui-block-width;
    .colors-container {
      height: 400px;
      border-radius: 10px;
      overflow: hidden;
      
    }
    .control-container {
      margin-top: 20px;
    }
  }

  