@import "../../Globals.scss";

.button {
  cursor: pointer;
  font-size: $secondary-font-size;
  font-weight: $secondary-font-weight;
  font-family: $font-family;
  width: 100px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: $button-radius;
  color: $secondary-font-color-dark;
  background-color: $color-button;
  &.set-dark {
    position: absolute;
    margin: 10px 20px 10px;
    right: 0;
    box-shadow: 0 0px 15px 0 #a1a1a1;
    &.dark {
      box-shadow: 0 0px 15px 0 #161616;
    }
  }
  &.active {
    color: $color-primary-dark;
    border: solid 2px #4d4d4d;
    padding: 3px 0;
    color: #4d4d4d;
    &.dark {
      border-color: #818181;
      color: #818181
    }
  }
  &.dark {
    background-color: $color-button-dark;
    color: $secondary-font-color;
  }
}

.color-picker-container {
  display: inline-flex;
  position: relative;
  width: 1370px;
  height: 630px;
  grid-row: 2;
  margin: auto;
  text-align: center;
  background-color: $color-secondary;
  border-radius: 15px;
  box-shadow: 0 0px 15px 0 #a1a1a1;
  .navbar-container {
    position: relative;
    float: top;
    width: 100%;
    height: 50px;
    .tab {
      z-index: 1;
      position: absolute;
      height: 40px;
      width: 200px;
      margin: 10px 10px 0 15px;
      background-color: $color-tertiary;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      font-size: 1.3rem;
      font-weight: lighter;
      line-height: 35px;
      &.shadow-tab{
        z-index: 0;
        box-shadow: 0 0px 15px 0 #a1a1a1;
        background-color: transparent;
        &.dark {
          box-shadow: 0 0px 15px 0 #161616;
        }
      }
      &.dark {
        background-color: $color-tertiary-dark;
      }
    }
    .active-tab {
      z-index: 2;
      &.shadow-tab {
        z-index: 1;
      }
    }
    .editor-tab {
      left: 230px;
    }
  }
  .color-picker-components {
    position: absolute;
    display: grid;
    column-gap: 20px;
    bottom: 0;
    width: auto;
    height: 550px;
    padding: 15px;
    background-color: $color-tertiary;
    border-radius: 15px;
    box-shadow: 0 0px 15px 0 #a1a1a1;
    &.dark {
      background-color: $color-tertiary-dark;
      box-shadow: 0 0px 15px 0 #161616;
    }
    z-index: 1;
  }
  &.dark {
    background-color: $color-secondary-dark;
    box-shadow: 0 0px 15px 0 black;
  }
}
