$secondary-font-size: 0.9rem;
$secondary-font-weight: 600;
$secondary-font-color: #404040;
$font-family: "helvetica";

$secondary-font-color-dark: #bdbdbd;

$color-primary: #e3e3e3;
$color-secondary: #d4d4d4;

$color-secondary-dark: #292929;
$color-primary-dark: #333333;

.App {
  background-color: $color-primary;
  color: $secondary-font-color;
  &.dark {
    background-color: $color-primary-dark;
    color: $secondary-font-color-dark
  }
}

.button {
  cursor: pointer;
  font-size: $secondary-font-size;
  font-weight: $secondary-font-weight;
  font-family: $font-family;
  height: 30px;
  width: 100px;
  padding: 5px;
  border: none;
  color: inherit;
  background-color: $color-primary;
  &.set-dark{
    position: absolute;
    left: 0px;
  }
  &.linked-true {
    border: solid 2px $secondary-font-color;
    &.dark {
      border-color: $color-primary;
    }
  }
  &.dark {
    background-color: $color-primary-dark;
    
  }
}

.color-picker-container {
  width: 1000px;
  height: 1000px;
  margin: auto;
  background-color: $color-primary;
  .gradient {
    float: left;
    padding: 50px;
    .selector {
      position: absolute;
    }
  }
  .color-picker-controls {
    font-size: $secondary-font-size;
    font-weight: $secondary-font-weight;
    font-family: $font-family;
    display: grid;
    float: left;
    width: 300px;
    height: auto;
    margin: 25px;
    padding: 25px;
    background-color: $color-secondary;
    .control-container {
      margin: 20px 0;
    }
    .control-label {
      margin: 0;
    }
    &.dark {
      background-color: $color-secondary-dark;
    }
  }
  &.dark {
    background-color: $color-primary-dark;
  }
}

.colors-container {
  display: grid;
  float: left;
  width: 300px;
  margin: 25px;
  padding: 25px;
  background-color: $color-secondary;
  .color-block {
    cursor: pointer;
    border: none;
    background-color: #fff;
    width: 100%;
  }
  &.dark {
    background-color: $color-secondary-dark;
  }
}
