@import "../../Globals.scss";

.button {
  cursor: pointer;
  font-size: $secondary-font-size;
  font-weight: $secondary-font-weight;
  font-family: $font-family;
  height: auto;
  width: 100px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  color: inherit;
  background-color: $color-primary;
  &.set-dark{
    margin: 0 0 20px ;
  }
  &.dark {
    background-color: $color-primary-dark;
  }
}

.color-picker-container {
  display: block;
  width: 1500px;
  height: auto;
  margin: auto;
  text-align: center;
  background-color: $color-primary;
  .gradient {
    float: left;
    padding: 0 50px;
    .selector {
      position: absolute;
    }
  }
  
  &.dark {
    background-color: $color-primary-dark;
  }
}

.boxes {
  padding-top: 50px;
}

.container-h {
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}