@import "../../Globals.scss";

.color-block {
  cursor: pointer;
  border: none;
  background-color: #fff;
  width: 100%;
  font-family: Verdana;
  font-weight: 400;
  font-size: 1.1rem;
  color: filter;
  .copy-prompt {
    text-align: center;
    .hover-cta {
      margin: 0;
    }
    .copy-text {
      display: none;
    }
    &:hover {
      .color-text {
        display: none;
      }
      .copy-text {
        display: inline;
      }
    }
  }
}
