@import "../../Globals.scss";

.color-wheel {
  grid-column: 2;
  text-align: center;
  display: inline-flex;
  position: relative;
}

.gradient {
  z-index: 0;
  display: inline-block;
  height: 500px;
  .selector {
    position: absolute;
  }
}

.button-right {
  z-index: 1;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.button-left {
  z-index: 1;
  position: absolute;
  bottom: 30px;
  left: 30px;
  &.active {
    border: solid 2px $secondary-font-color;
    padding: 3px 0;
    &.dark {
      border-color: #818181;
    }
  }
}
