@import "Globals.scss";

.App {
  background-color: $color-primary;
  color: $secondary-font-color;
  height: 100vh;
  width: 100vw;
  &.dark {
    background-color: $color-primary-dark;
    color: $secondary-font-color-dark
  }
}

.logo-container {
  text-align: center;
  width: 1500px;
  margin:auto;
  img{
    margin: 25px;
  }
}