@import "Globals.scss";

.App {
  width: 100vw;
  height: 100vh;
  background-color: $color-primary;
  &.dark {
    background-color: $color-primary-dark;
  }
}

.wrapper {
  background-color: $color-primary;
  color: $secondary-font-color;
  text-align: center;
  display: grid;
  &.dark {
    background-color: $color-primary-dark;
    color: $secondary-font-color-dark
  }
}

.logo-container {
  grid-row: 1;
  width: 1400px;
  margin:auto;
  img{
    width: 600px;
    float: left;
    margin: 50px 25px;
  }
}

.hidden {
  display: none;
}