@import "Globals.scss";

.App {
  width: 100vw;
  height: 100vh;
  background-color: $color-primary;
  &.dark {
    background-color: $color-primary-dark;
  }
}

.wrapper {
  background-color: $color-primary;
  color: #4d4d4d;
  text-align: center;
  display: grid;
  &.dark {
    background-color: $color-primary-dark;
    color: $secondary-font-color-dark
  }
}

.logo-container {
  grid-row: 1;
  width: 1300px;
  height: 90px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 35%;
  background-image: url('./img/logotype.png');
  margin-top: 10px;
  &.dark {
    background-image: url('./img/logotype-dark.png');
  }
}

.hidden {
  display: none;
}