$secondary-font-size: 1rem;
$secondary-font-weight: 400;
$secondary-font-color: #404040;
$font-family: "Verdana";

$secondary-font-color-dark: #bdbdbd;

$color-primary: #e3e3e3;
$color-secondary: #d4d4d4;

$color-secondary-dark: #292929;
$color-primary-dark: #333333;

.container-h {
    display: inline-block;
    margin: 0px 10px;
}