$secondary-font-size: 1rem;
$secondary-font-weight: 400;
$secondary-font-color: #222222;
$font-family: "Verdana";

$secondary-font-color-dark: #818181;

$color-button: #f2f2f2;
$color-button-dark: #3b3b3b;

$color-primary: #e3e3e3;
$color-secondary: #dbdbdb;
$color-tertiary: #d3d3d3;

$color-tertiary-dark: #272727;
$color-secondary-dark: #2c2c2c;
$color-primary-dark: #333333;

$ui-block-width: 260px;
$ui-block-height: 500px;
$ui-block-padding: 25px;
$ui-block-radius: 15px;

$ui-block-shadow-light: 0 0px 15px 0 #a1a1a1;
$ui-block-shadow-dark: 0 0px 15px 0 #171717;

$button-radius: 8px;

.container-h {
  display: inline-block;
  margin: 0px 10px;
}

.ui-block {
  height: $ui-block-height;
  padding: $ui-block-padding;
  background-color: $color-secondary;
  border-radius: $ui-block-radius;
  box-shadow: $ui-block-shadow-light;
  &.dark {
    background-color: $color-secondary-dark;
    box-shadow: $ui-block-shadow-dark;
  }
}
