@import "./Variables.scss";

.button {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: $secondary-font-weight;
  font-family: $font-family;
  width: scale(80);
  height: scale(25);
  line-height: scale(16);
  border: none;
  border-radius: $button-radius;
  color: $secondary-font-color-dark;
  background-color: $color-button;
  &.set-dark {
    position: absolute;
    margin: scale(8) scale(35) scale(8);
    right: 0;
    width: scale(100);
    box-shadow: 0 scale(0) scale(15) 0 #a1a1a1;
    &.dark {
      box-shadow: 0 scale(0) scale(15) 0 #161616;
    }
  }
  &.active {
    color: $color-primary-dark;
    border: solid scale(2) #4d4d4d;
    height: scale(27);
    color: #4d4d4d;
    &.dark {
      border-color: #818181;
      color: #818181;
    }
  }
  &.dark {
    background-color: $color-button-dark;
    color: #131313;
  }
}


.container-h {
  display: inline-block;
  margin: 0 scale(10);
}

.ui-block {
  background-color: $color-secondary;
  border-radius: $ui-block-radius;
  box-shadow: $ui-block-shadow-light;
  &.dark {
    background-color: $color-secondary-dark;
    box-shadow: $ui-block-shadow-dark;
  }
}

.ui-half-block {
  height: scale(275);
  width: scale(240);
  padding: scale(10) $ui-block-padding;
  background-color: $color-secondary;
  border-radius: $ui-block-radius;
  box-shadow: $ui-block-shadow-light;
  &.dark {
    background-color: $color-secondary-dark;
    box-shadow: $ui-block-shadow-dark;
  }
}

