@import "../../Globals.scss";
@import "../../Variables.scss";

$track-color: #696969;
$thumb-color: #bbbbbb;

$thumb-radius: scale(12);
$thumb-shadow-size: scale(1);
$thumb-shadow-blur: scale(1);
$thumb-shadow-color: #111;
$thumb-shadow-color: #111;
$thumb-border-width: scale(2);
$thumb-border-color: #696969;

$track-width: 100%;
$track-height: scale(2);
$track-shadow-size: scale(2);
$track-shadow-blur: scale(2);
$track-shadow-color: #222;
$track-border-width: scale(1);
$track-border-color: black;

$track-radius: scale(5);
$contrast: 5%;

.slider-container {
  .slider {
    height: $thumb-radius;
    width: 100%;
    background-color: $color-secondary;
    margin: 0;
    &.dark {
      background-color: $color-secondary-dark;
    }
    &.short {
      display: inline-block;
      width: scale(250);
      vertical-align: middle;
    }
  }
  .slider-label {
    text-align: left;
    margin-bottom: scale(3);
    margin-top: 0;
    line-height: scale(8);
    font-size: 0.9rem;
    &.short {
      display: inline;
      margin: scale(25);
    }
  }
}

@mixin track() {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
  animate: 0.2s;
}

@mixin thumb() {
  height: $thumb-radius;
  width: $thumb-radius;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  background: $thumb-color;
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  width: $track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    @include track();
    background: $track-color;
    border-radius: $track-radius;
    border: $track-border-width;
  }

  &::-webkit-slider-thumb {
    @include thumb();
    -webkit-appearance: none;
    margin-top: ((-$track-border-width * 2 + $track-height) / 2) -
      ($thumb-radius / 2);
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten($track-color, $contrast);
  }

  &::-moz-range-track {
    @include track();
    background: $track-color;
    border-radius: $track-radius;
    border: $track-border-width;
  }
  &::-moz-range-progress {
    @include track();
    background: $track-color;
    border-radius: $track-radius;
    border: $track-border-width;
  }
  &::-moz-range-thumb {
    @include thumb();
  }

  &::-ms-track {
    @include track();
    background: transparent;
    border-color: transparent;
    border-width: $thumb-radius 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken($track-color, $contrast);
    border: $track-border-width;
    border-radius: $track-radius * 2;
  }
  &::-ms-fill-upper {
    background: $track-color;
    border: $track-border-width;
    border-radius: $track-radius * 2;
  }
  &::-ms-thumb {
    @include thumb();
  }
  &:focus::-ms-fill-lower {
    background: $track-color;
  }
  &:focus::-ms-fill-upper {
    background: lighten($track-color, $contrast);
  }
}
